@import '../../../../ScssVars/';

.article-wrapper {
  // padding-top: 10px;
  .article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: $color-white;
    word-wrap: break-word;
    border-radius: 5px;
    margin-bottom: 10px;
    // overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #dddfe2;
  }
}
