@import '../../../../ScssVars/';

.article-content {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  padding-bottom: 15px;

  .article-image {
    // flex-basis: 25%;
    padding-top: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .article-text-wrapper {
    padding: 10px 10px 5px;
    // flex-basis: 65%;

    .article-text {
      line-height: 1.3125;
      // max-height: 200px;
      overflow: hidden;
      border-radius: 15px;
      padding: 10px;
      word-wrap: break-word;
      word-break: break-word;

      img {
        // width: auto;
        // height: 100%;
        // width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
      }
    }

    .article-text[data-with-readmore='true'] {
      max-height: 100%;
    }

    .article-text[data-with-readmore='false'] {
      max-height: 200px;
    }

    .read-article {
      padding: 10px;
      color: #337ab7;
      text-align: center;

      span {
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}