@import '../../../ScssVars/';

.articleWrapper {

  // padding-top: 10px;
  .articleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: $color-white;
    word-wrap: break-word;
    border-radius: 5px;
    margin-bottom: 10px;
    // overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #dddfe2;
    position: relative;
  }

  .actionError {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #108afd;
    color: white;
    text-align: center;
    font-weight: bold;
  }
}