@import '../../../ScssVars';

.user-info-wrapper {
  // padding-top: 10px;
  align-items: center;
  .user-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $color-white;
    padding: 10px;
    border: 1px solid $color-gray-lighter;
    border-radius: 5px;
    margin-bottom: 15px;
    .user-image {
      flex-basis: 20%;
      display: flex;
      justify-content: center;
      padding: 10px;
      display: flex;
      align-items: flex-start;

      div {
        padding: 3px;
        border: 2px solid $color-gray-lighter;
        border-radius: 50%;

        div {
          overflow: hidden;
          border: none;
          width: 120px;
          height: 120px;
          // background-image: url("../../docs/54d072b52ab6d_thumb900.jpg");
          background-position: center;
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .user-name {
      flex-basis: 20%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div:last-of-type {
        button {
          padding: 5px 15px;
          border: none;

          border-radius: 20px;
          background-color: $color-tomato;
          color: $color-white;
          display: block;
          cursor: pointer;
          line-height: 1.325;
          outline: none;
        }
      }
    }
    .user-info {
      padding: 10px;
      flex-basis: 50%;
    }
    @media screen and (max-width: $break-medium) {
      width: 100%;
      flex-direction: column;
    }
  }
}
