.teet {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

.modalOverLay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 320px;

  .modalWrapper {
    position: relative;
  }
}

.closeModalContainer {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 7;
}

.closeButton {
  border: none;
  color: #337ab7;
  background-color: #fff;

  outline: none;
  font-weight: bold;
  cursor: pointer;
}