.title {
  margin-bottom: 15px;

  input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border: 1px solid #cecece;
  }
}

.submit {
  width: 100%;
  background-color: #0d526d;
  color: white;
  margin-top: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.common {
  font-weight: bold;
}