@import './ScssVars';

input[type='search'] {
  padding: 5px 5px;
  border: 1px solid $color-offwhite-dark;
  outline: none;
  text-indent: 10px;
  border-radius: 25px;
  line-height: 1.325;
  width: 100%;

  &::placeholder {
    font-size: 15px;
  }
}

svg {
  cursor: pointer;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', sans-serif;
}

html {
  height: 100%;
}

html,
body,
.root {
  .App {
    text-align: center;
    height: 100%;
  }
}

body {
  overflow-y: scroll;
  overscroll-behavior-y: none;
  min-height: 100%;
}

.root {
  margin: auto;
  min-width: $break-small;

  .app[data-with-navbar='true'] {
    .nav-holder {
      display: block;
    }
  }

  .app[data-with-navbar='false'] {
    .nav-holder {
      display: none;
    }
  }
}