@import './ScssVars';

// input[type='submit'] {
//   // padding: 0.4em 1.5em;
//   outline: none;
//   border: none;
//   // background-color: $color-blue-light;
//   color: white;
//   cursor: pointer;
// }

// input[type='email'],
// input[type='password'],
// input[type='text'] {
//   padding: 10px 0;
//   outline: none;
//   // background-color: inherit;
//   color: $color-offwhite;
//   border: none;
//   border-bottom: 1px solid $color-white-dark;
//   width: 100%;
// }
// input::placeholder {
//   color: $color-white-dark;
//   font-size: 12px;
// }
// input:focus::placeholder {
//   color: transparent;
// }
// input[type='checkbox'] {
//   outline: none;
//   border: none;
//   background-color: $color-tomato;
// }
input[type='search'] {
  padding: 5px 5px;
  border: 1px solid $color-offwhite-dark;
  outline: none;
  text-indent: 10px;
  border-radius: 25px;
  line-height: 1.325;
  width: 100%;
  &::placeholder {
    font-size: 15px;
  }
}
// label {
//   display: block;
//   padding: 10px 0 0;
//   color: $color-offwhite;
//   font-size: 13px;
// }
svg {
  cursor: pointer;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', sans-serif;
}

html,
body,
.root {
  min-height: 100% !important;
  height: 100%;
  .App {
    text-align: center;
    height: 100%;
  }
}

body {
  overflow-y: scroll;
  overscroll-behavior-y: none;
  // background-color: #e9ebee;
}

.root {
  margin: auto;
  // height: auto;
  min-width: $break-small;
  // background-color: $color-gray-light;

  .app[data-with-navbar='true'] {
    .nav-holder {
      display: block;
    }
  }
  .app[data-with-navbar='false'] {
    .nav-holder {
      display: none;
    }
  }
}

// .active {
//   svg {
//     fill: red;
//   }
//   span {
//     color: red;
//   }
// }
