@import '../../../ScssVars/';

.userInfoWrapper {
  padding-top: 10px;
  align-items: center;
  .userInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $color-white;
    padding: 10px;
    border: 1px solid $color-gray-lighter;
    border-radius: 5px;
    margin-bottom: 15px;
    .userImageContainer {
      flex-basis: 20%;
      display: flex;
      justify-content: center;
      padding: 10px;
      display: flex;
      align-items: flex-start;

      .userImageParent {
        padding: 3px;
        border: 2px solid $color-gray-lighter;
        border-radius: 50%;

        .userImage {
          overflow: hidden;
          border: none;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-position: center;
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;
          transition: all 0.1s linear;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .userDetailsContainer {
      flex-basis: 20%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .userDetails {
        div {
          color: #303330;
          font-size: 16px;
          font-weight: bold;
          a {
            color: inherit;
            font: inherit;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .followBtnContainer {
      padding: 10px;
    }
    @media screen and (max-width: $break-medium) {
      width: 100%;
      flex-direction: column;
    }
  }
}
