$break-small: 320px;
$break-medium: 650px;
$break-large: 1111px;
$color-blue-dark: rgb(16, 36, 61);
$color-blue-light: rgb(60, 82, 121);
$color-blue-sky: #337ab7;
$color-tomato: rgb(218, 90, 81);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(144, 144, 144);
$color-gray-light: rgb(233, 235, 238);
$color-gray-lighter: rgb(221, 223, 226);
$color-offwhite: rgb(240, 235, 235);
$color-offwhite-dark: rgb(206, 202, 202);
$color-white-dark: rgb(182, 180, 180);
$border-blue: rgb(26, 43, 69);
$color-black: rgb(0, 0, 0);
$color-black-light: rgb(23, 20, 20);
$color-black-dotone-opacity: rgba(0, 0, 0, 0.15);
$color-black-dotthree-opacity: rgba(0, 0, 0, 0.3);
$color-red-dark: rgb(165, 21, 21);